@import 'reset.css'
@import 'mixins'
@import 'style'
article
	display	inline-block
	vertical-align	middle
	figure
		float	left
		padding	10px
		margin	5px
		background	hsl(0,0%,93%)
		border	1px solid hsl(0,0%,85%)
		text-align	center
		position	relative
		box-shadow	0 10px 10px -10px rgba(0,0,0,0.5)
		border-radius	2px
		img
			max-width	200px
		figcaption
			opacity	0
			position	absolute
			top	0
			left	0
			-webkit-transition	opacity 0.3s
			background	hsla(0,0%,100%,0.9)
			width	100%
			height	100%
			cursor	pointer
			p
				centering()
				display	initial
		&:hover figcaption
			opacity	1