@font-face {
  font-family: StudioScript;
  src: url("library/StudioScript.ttf");
}
@font-face {
  font-family: DSJapanCyr;
  src: url("library/DSJapanCyr.ttf");
}
@-moz-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-ms-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-moz-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-webkit-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-o-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-ms-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
.wrapper {
  height: 100%;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-width: 640px;
}
.wrapper {
  text-align: center;
}
.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body > aside {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
body > aside a {
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}
body > aside a:hover {
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #dfdfdf;
}
body > aside a:active {
  position: relative;
  top: 1px;
}
article {
  display: inline-block;
  vertical-align: middle;
}
article figure {
  float: left;
  padding: 10px;
  margin: 5px;
  background: #ededed;
  border: 1px solid #d9d9d9;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0,0,0,0.50);
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.50);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
article figure img {
  max-width: 200px;
}
article figure figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s;
  background: hsla(0, 0%, 100%, 0.9);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
article figure figcaption p {
  text-align: center;
  display: initial;
}
article figure figcaption p:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
article figure:hover figcaption {
  opacity: 1;
}
