@import 'reset.css';
html,
body,
.wrapper {
  height: 100%;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-width: 640px;
}
body > aside {
  position: absolute;
  top: 10px;
  left: 10px;
}
body > aside a {
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}
body > aside a:hover {
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #dfdfdf;
}
body > aside a:active {
  position: relative;
  top: 1px;
}
@font-face {
  font-family: StudioScript;
  src: url("library/StudioScript.ttf");
}
@font-face {
  font-family: DSJapanCyr;
  src: url("library/DSJapanCyr.ttf");
}
@-moz-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-o-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-ms-keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@keyframes pulse {
  0%, 49% {
    opacity: 0;
  }

  50%, 99% {
    opacity: 1;
  }
}
@-moz-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-webkit-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-o-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@-ms-keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@keyframes bump {
  0%, 19% {
    top: 0.02em;
  }

  20%, 99% {
    top: 0;
  }
}
@import 'reset.css';
html,
body,
.wrapper {
  height: 100%;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-width: 640px;
}
.wrapper {
  text-align: center;
}
.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body > aside {
  position: absolute;
  top: 10px;
  left: 10px;
}
body > aside a {
  -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
  box-shadow: inset 0px 1px 0px 0px #fff;
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #fff;
}
body > aside a:hover {
  background: -webkit-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -ms-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: -o-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background: linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  background-color: #dfdfdf;
}
body > aside a:active {
  position: relative;
  top: 1px;
}
@media (max-device-width	 480px) {
  body {
    background-size: 200%;
  }
  .countDown {
    zoom: 1.5;
  }
}
body {
  background-image: url("library/background/new-year.jpg");
}
.countDown {
  display: inline-block;
  font-size: 36px;
  border: 1px solid #c0c0c0;
  padding: 1em;
  position: relative;
}
.countDown::before,
.countDown::after {
  content: '';
  display: block;
  background: #fff;
  border: inherit;
  width: 98%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: -1;
}
.countDown::before {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
.countDown::after {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.countDown h1 {
  position: relative;
  font-size: 0.8em;
  margin: -0.5em 0 0.5em;
  font-family: StudioScript;
}
.countDown h1::before,
.countDown h1::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 30%;
  height: 1px;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 0 #c0c0c0, 0 3px 0 #c0c0c0;
  box-shadow: 0 1px 0 #c0c0c0, 0 3px 0 #c0c0c0;
}
.countDown h1::before {
  left: -0.5em;
  margin: 0 0 0 -50%;
}
.countDown h1::after {
  left: 0.5em;
  margin: 0 -50% 0 0;
}
.countDown section {
  position: relative;
  font-size: 0.6em;
  margin: 0 0 1em;
}
.countDown section figure {
  display: inline;
  position: relative;
  margin: 0 0.1em;
}
.countDown section figure figcaption {
  display: inline;
  position: absolute;
  left: 0;
  width: 100%;
  top: 2em;
}
.countDown section figure div {
  display: inline-block;
  margin: 0 0.2em;
}
.countDown section figure div span {
  position: relative;
  padding: 0 0.1em;
  margin: 0 0.02em;
  font-size: 3.7em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  -webkit-box-shadow: 0 3px 0 #b3b3b3;
  box-shadow: 0 3px 0 #b3b3b3;
  background: -webkit-linear-gradient(top, #e1e1e1, #f2f2f2, #c0c0c0);
  background: -moz-linear-gradient(top, #e1e1e1, #f2f2f2, #c0c0c0);
  background: -ms-linear-gradient(top, #e1e1e1, #f2f2f2, #c0c0c0);
  background: -o-linear-gradient(top, #e1e1e1, #f2f2f2, #c0c0c0);
  background: linear-gradient(top, #e1e1e1, #f2f2f2, #c0c0c0);
}
.countDown section figure div span::before,
.countDown section figure div span::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.03em;
  height: 0.06em;
  top: 50%;
  background: #d4d4d4;
}
.countDown section figure div span::after {
  left: -size;
}
.countDown section figure div span::before {
  right: -size;
}
